body {
    margin: 0;
}

#navigation {
    position: fixed;
    width: 100%;
    height: 5.5vw;
    z-index:2;
    background-color: black;
}

#background {
    position: relative;
    top: 5.5vw;
    width: 100%;
}

#background img {
    width: 100%;
    height: 100%;
}

#picture {
    position: absolute;
    top:15%;
    left: 8%;
    display: flex;
}

#picture img {
    width: 22vw;
    height: 22.5vw;
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}

#picture img::after{
    content:"";
    position:absolute;
    right: -2px;
    left: -2px;
    top: -2px;
    bottom: -2px;
    background: #fff;
    z-index:-1;
}

#picture img:hover {
    filter: grayscale(0%);
}

#picture p {
    color: white;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #0066cc; 
    padding-left: 1.5vw;
    font-size: 4vw;
    font-weight:520;
    font-family: 'Carter One', cursive;
}

#social {
    position: absolute;
    top:60%;
    left: 8%;
    z-index: 1;
    display: flex;
}

#social a {
    display : inline-flex;
    font-size: 1.5vw;
    width: 3vw;
    height: 3vw;
    text-decoration: none;
    justify-content: center;
    align-items:center;
    margin: 0 1.5vw;
    color: white;
}

#social a::before {
    content: '';
    position: absolute;
    width:4vw;
    height: 4vw;
    background: linear-gradient(45deg,#22a6b3,#30336b);
    border-radius: 50%;
    z-index:-1;
    transition: 0.3s ease-in;
}

#social a:hover::before {
    transform: scale(0);
}

#social a i {
    transition: 0.3s ease-in;
}

#social a:hover i {
    background: linear-gradient(45deg,red,blue);
    background-clip: text;
    -webkit-text-fill-color:transparent;
    transform:scale(2.4);

}

@media screen and (max-width:1200px) {
    #picture {
        position: absolute;
        top: 110%;
    }

    #social {
        top:152%;
        left:6.7%;
    }
}
